<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.alex.alexp1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/alex_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/alex_round_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash1Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Splash2Activity"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".JogoVelhaActivity"></activity>
        <activity android:name=".IMCActivity"></activity>
        <activity android:name=".JoKenPoActivity"></activity>
        <receiver android:name=".PowerBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>